* {
	margin: 0;
	width: auto;
}

body {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 37px;
	line-height: 1.5;
    margin-top: 209px;
}

p  	{
	margin: 0 0 1.5em 0;


}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.button {
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  background: pink;
  color: black;
  display: block;
  text-align: center;
  padding: .5em;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, .2);
  border-radiwe: .25em;
}
#only {
  font-family: fantasy;
  font-weight: bold;
}
header {
  background: black;
  color: palevioletred;
  overflow: hidden;
  border-bottom: 4px dotted purple;
  padding: 0 3%;
  position: fixed;
  top: 0;
  width: 94%;
}
header a {
  color: inherit;
  text-decoration: none;
}
h1 {
  line-height: 1;
  color: yellow;
  font-family: "Merriweather", serif;
  font-size: 1.5em;
  margin: .75em 0 0 0;
}
h2 {
  font-weight: bold;
  font-family: fantasy;
  text-align: center;
  color: purple;
  font-size: 1.0em;
}
header .subH2 {
  display: none;
}
h3  {
  font-family: "Merriweather", sans-serif;
  font-size: 1.25em;
  font-weight: normal;
}
h4 {
  font-size: .5em;
  font-family: fantasy;
}
nav {
  text-align: right;
}
.banner {
    background: url("../images/img_7466.jpg") center center no-repeat;
    background-size: 100%;
    overflow: hidden;
    padding: 3%;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .75);
}

nav a {
  padding: 0 .3em;
}

nav.visible a {
    display: block;
}

nav a:hover {
  color: yellow;
}

nav a.active {
  background: #666;
}
                                        /*  TRYING THIS MOMENTARILY*/
nav strong {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

nav a#hamburger {
  display: none;
  padding: 6px 24px;
  background-color: red;
}

.tagline {
  background-color: skyblue;
  border-top: 1px solid #AAA;
  font-family: "Merriweather", serif;
  text-align: center;
  margin: 0;
  padding: 20px;
  font-size: 1em;
  line-height: 1;
  font-style: italic;
  clear: both;
}

.tagline.hidden {
    display: none;
}

.blurb {
  background: rgba(255, 255, 255, .8);
  width: 34%;
  margin: 0 auto;
  padding: 4%;
  float: right;
  box-shadow: 0 0 5px rgba(0, 0, 0, .75);
}
.blurb h2 {
  text-align: left;
}

.callouts {
  background: #EEE;
  overflow: hidden;
  clear:both;
  font-family: sans-serif;
}

.callout {
  background-size: cover;
  box-sizing: border-box;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .75);
  float: left;
  overflow: hidden;
  padding: 3%;
  width: 33.3336%;
  min-height: 430px;
}

.you {
  background: url("../images/img_4014.jpg") center center no-repeat;
}

.we {
  background: url("../images/img_5804.jpg") center center no-repeat;
}
.we p {
  color: #fff;
}

.rate {
  background: url("../images/img_7463.jpg") center center no-repeat;
  max-height: 427px;
}
.emergency-text {
  color: red;
}
.rate:hover .emergency-text {
    color: purple;
}

.fixtoilet {
  background-color: pink;
  padding: 3%;
}
footer {
  font-size: .5em;
  background: black;
  color: white;
  padding: 2% 3%;
}
footer h4 {
  font-family: italic;
  font-size: .8em;
  float: right;
}

.callout p {
  font-size: 48%;
}

/*
 * Gallery Page Styles
 */
.row img {
	float: left;
	width: 19%;
	margin: .5%;
}

.row a:hover {
	opacity: .8;
}

.featherlight .featherlight-content {
background-color: #666;
}

.featherlight .featherlight-close-icon {
color: #ff0000;
background-color: #666;
}

@media only screen and (max-width: 1000px){
  h1 {
    font-size: 95%;
  }
  header h2 {
    font-size: 75%;
    color: orange;
  }
  body {
    margin-top: 160px;
  }
  .blurb a {
    font-size: 50%;
  }
  .callouts h3 p {
    font-size: 75%;
  }
}
@media only screen and (max-width: 850px){
    .blurb {
    float: none;
    width: 93%;
    }
    .blurb h2 {
      font-size: 50%;
    }
    .tagline {
      font-size: 50%;
    }
}
@media only screen and (max-width: 650px){
    #page-header h2 {
      font-size: 50%;
    }
    body {
        margin-top: 119px;
    }
    .callouts {
      max-height: 540;
    }
    .callout h3 {
      font-size: 75%;
    }
    .you p {
      font-size: 38%;

    }
    .we p {
      font-size: 38%;
    }
    .rate p {
      font-size: 38%;
    }
    footer {
      float: none;
      padding-bottom: 25px;
    }
  }

@media only screen and (max-width: 450px){
    body {
      margin-top: 72px;
    }
    h1 {
      font-size: 70%;
    }
   header h2 {
    display: none;
   }
   header .subH2 {
      color:orange;
      font-size: .45em;
      display: block;
   }
   #emergency {
      color: red;
   }
   nav {
    width: 100%
   }
   nav a {
       display: none;
   }
   nav a#hamburger {
      display: block;
      text-align: center;
      width: 6%;
      right: 0;
      top: 0;
      position: absolute;
  }
  .callout {
    float: none;
    width: 100%;
   min-height: 100px;
  }
  .callouts h3 {
    font-size: 50%;
  }
  .tagline {
    display: none;
  }
  .fixtoilet {
    display : none;
  }
  .we h3 {
    color: white;
  }
}

@media only screen and (min-width: 400px){}

/*@media only screen and (max-width: 1500px){}*/
